<div id="mySlider" class="mySlider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ol class="carousel-indicators">
                    <li data-target="#mySlider" data-slide-to = "0" class="active"></li>
                    <li data-target="#mySlider" data-slide-to = "1" ></li>
                    <li data-target="#mySlider" data-slide-to = "2" ></li>
                    <li data-target="#mySlider" data-slide-to = "3" ></li>
                    <li data-target="#mySlider" data-slide-to = "4" ></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag("Sliders/SliderImage1.jpg", size:"1200x600") %>
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <%#= image_tag("Sliders/SliderImage1.jpg", size:"1200x600") %>
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <%#= image_tag("Sliders/SliderImage1.jpg", size:"1200x600") %>
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <%#= image_tag("Sliders/SliderImage1.jpg", size:"1200x600") %>
                        <img src="" alt="">
                    </div>
                    <div class="item">
                        <%#= image_tag("Sliders/SliderImage1.jpg", size:"1200x600") %>
                        <img src="" alt="">
                    </div>   
                </div>
                
                <a class="left carousel-control" href="mySlider" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="mySlider" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                
                
            </div>
        </div>
    </div>
</div>



 <!--    Help link carousel in ruby on rails-->
                        <!--https://www.toptal.com/ruby-on-rails/rails-helper-bootstrap-carousel-->