
    
    
    
<div class="cf">
<div class="leftcol">
<img src="cakes/carrotcake.jpg" ></div>
<div class="rightcol" style="align-content: center"><h1>Description</h1></div><br>
     <div class="righttext" style="align-content: left">
        <p>this cookies is very delicious which made me cry when i eat this. this cookies makes me happy that when my mouth bite it i forgot my loneliness</p>
         <p><button class="button buttonbuy">BUY</button><p>
</div>
<div class="clear"></div>
