.footer {
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #1e1e15;
}
.footer h4{
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

