.footer {
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #1e1e15;
}

.footer h4{
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.leftcol{
    float:left; 
    width:50%;
    padding: 10px; 
    border: 2px ;
    height: 70%
    
}

.rightcol{
    float:left;
    width:50%
}

.righttext{
    float:left;
    margin-top: 5%;
    width:50%
}

.clear{
    clear:both; 
    display:block;
}

.buttonbuy {
    background-color: #9ACD32;
    color: white; 
    border: 2px solid #9ACD32;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
}

.button:hover{
    background-color: #b7e853;
}

.button:active{
    background-color: #7fba27;
}

.category {
    color: lightgrey;
}

.name {
    font: "Century Gothic";
    color: black;
    white-space: nowrap;
}

.logo {
    margin: auto;
    width: 50%;
    padding: 10px;
}