<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/products">TasteBuddy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        <!-- navbar right side --> 
        <!-- differentiate from logged in to a guest user -->
        <ul class="nav navbar-nav navbar-right">
        <!-- search bar -->
        <!--<li>
              <div class="col-lg-12">
                <form class="navbar-form" role="search"> 
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name = "query" id="navbar-search">
                      <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id ='navbar-search-button'><span class="fas fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </form>
              </div>
          </li> -->
          <li class="nav-item"><a href="#"><span class="fas fa-user"></span>Sign Up</a></li>
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#popUpLogin" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>
        </ul>
      <!-- navbar right side end -->
        
      <!-- Login Start-->
                  <form method="post" action="login.php">
                    <div class="modal_container">
                    <div class="modal fade" id="popUpLogin">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <center><h2>LOGIN</h2></center>
                                </div>
                                <!-- body-->
                                <div class="modal-body">
                                    <form role="form">
                                        
                                      <label>Email</label>  
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email" name="Email" required="Email" onkeyup="combinationValidation(this)">                                 
                                      </div>

                                      
                                      <label>Password</label>
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i  class="glyphicon glyphicon-lock"></i>
                                        </div>
                                        <input type="Password" class="form-control" placeholder="Password" name="Password" required="Password" onkeyup="noSpecialCharacter(this)" >
                                      </div>
                                    </form>
                                </div>
                                
                                <!--footer-->
                                <div class="modal-footer">
                                    <button class="btn btn-primary">LOGIN </button>
                                </div>
                                
    
                            </div>
                        </div>
                    </div>
                    </div>
                  </form>
                  <!-- End-->
      </div>
    </nav>
    <br/>
      <%= yield %>
  </body>
</html>
