<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/products">TasteBuddy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        <!-- navbar right side --> 
        <!-- differentiate from logged in to a guest user -->
        <ul class="nav navbar-nav navbar-right">
        <!-- search bar -->
        <!--<li>
              <div class="col-lg-12">
                <form class="navbar-form" role="search"> 
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name = "query" id="navbar-search">
                      <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id ='navbar-search-button'><span class="fas fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </form>
              </div>
          </li> -->
          <li class="nav-item"><a href="#"><span class="fas fa-user"></span>Sign Up</a></li>
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>
        </ul>
      <!-- navbar right side end -->
        
      
      </div>
    </nav>
    <br/>
      <%= yield %>
  </body>
</html>
